<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    <h2 th:text="'Access Denied for user: ' + ${login}">
        <a href="#" th:href="@{'/logout'}" class="btn btn-light btn-lg">
            <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
    </h2>
    <h4>
        <a href="#" th:href="@{'/recipes'}">Back to recipes list</a>
    </h4>
    <p>
        <a href="#" th:href="@{'/logout'}" class="btn btn-light btn-lg">
            <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
    </p>
</body>
</html>